#cart-page {
    padding: 20px;
    margin-bottom: 20px;
  }
  #cart-title {
    font-size: 36px;
    font-weight: bold;
  }
  #cart-content {
    display: flex;
    justify-content: space-between;
  }
  #table-cart th, #table-cart td {
    padding: 10px;
    text-align: left; 
  }
  #product-info {
    display: flex;
    align-items: center;
  }
  #cart-product-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  #delete-img{
    cursor: pointer;
  }
  #quantity-input {
    width: 30px;
    text-align: center;
  }
  #cart-summary {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 15px;
    border: none;
    background-color: #F9F1E7;
  }
  #cart-summary h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  #cart-summary .subtotal {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #total{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
  #cart-total{
    color: #B88E2F;
  }
  #checkout-button {
    width: 150px;
    padding: 10px;
    background-color: #F9F1E7;
    border: 1px solid #000;
    border-radius: 10px;
    color: #111;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  } 
  #checkout-button:hover {
    background-color: #ddb347;
    color: white;
  }
  #cart-header {
    width: 1200px;
    height: 250px; 
    background-image: url('../../assets/Rectangle 1.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-R';
  }
  #cart-header h2 {
    font-size: 36px;
    margin:0;
    font-family: 'Poppins-M';
  }
  .breadcrumb {
    font-size: 18px;
    color: black;
  }
  .breadcrumb a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
  }
  .breadcrumb a:hover {
    color: #ddd;
  }
  #product-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 0;
  }
  #cart-table{
    display: flex;
    flex-direction: column;
  }
  #table-info{
    display: flex;
    flex-direction:row;
   column-gap: 40px;
  }
  #table-info th{
    font-family: 'Poppins-M';
  }
  #cart-summary span{
    font-family: 'Poppins-M';
    color: #000;
  }
  #product{
    margin-right: 170px;
  }
  #product-details{
    display: flex;
    flex-direction: row;
   column-gap: 30px;
    margin-bottom: 0;
  }
  #product-details td{
    font-family: 'Poppins-R';
  }
  #product-info{
   width: 230px;
   margin-right:0px;
  
  }
  #product-info span{
    font-family: 'Poppins-R';
    color: #9F9F9F;
  }
  #price{
    color: #9F9F9F;
  }
  #delete-btn{
    border: none;
    background-color: white;
    cursor: pointer;
    width: fit-content;
  }
  #subtotal{
    margin-left: 10px;
  }
  .checkout-message{
    font-family: 'Poppins-B';
   margin-left: 290px;
  }
  @media screen and (max-width:500px) {
    #cart-header{
      width: auto;
    }
    #cart-content{
      flex-direction: column;
      row-gap: 30px;
    }
    #table-info{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 15px;
    }
    #product-details td{
      padding: 0;
    }
    #product-info{
      display: flex;
      flex-direction: row-reverse;
      column-gap: 20px;
      margin-right: 0;
      margin-left: 0;
    }
    #product-details{
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      margin-bottom: 0;
      padding-left: 0;
    }
    #table-cart{
      display:flex ;
      flex-direction: row;
      column-gap: 15px;
      width: auto;
    }
    #cart-product-image{
      width: 90px;
      height: 70px;
      margin-right: 0;
    }
    #cart-summary{
      width: auto;
    }
    #cart-summary #subtotal, #cart-summary #total {
      gap: 150px;
    }
    #product{
      margin-bottom: 30px;
      margin-right: 0;
    }
    #checkout-button{
      width: 350px;
    }
    #cart-table{
      display: flex;
      flex-direction: row;
      column-gap: 120px;
      margin-bottom: 50px;
    }
    #subtotal{
      margin-left: 0px;
    }
    .checkout-message{
      margin-left: 120px;
    }
  }