html{
  width: 100%;
  max-width: 1400px;
}
body{
  width: 100%;
  max-width: 1400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:500px) {
  #root{
    width: 480px;
  }
  body{
    width: 480px;
  }
}